.main {
	.block-lastnews{
		background: $bg-black;
		padding: 15px;
		display: flex;
		align-items: center;
		height: 100%;
		@include lg-block{
			padding: 0;
		}
		&-cont{
			@include wrapper;
		}
		&-wrap{
			@include row-flex;
			width: 100%;
			height: 100%;
			@include lg-block{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0;
			}
		}
		&-big-item{
			@include col;
			@include size(8.05);
			@include size-lg(6);
			@include size-md(8);
			@include size-sm(12);
			max-height: 100%;
			@include lg-block{
				margin: 10px 0 0 0;
			}
			&-sub{
				max-height: 100%;
				min-width: 270px;
				border: 2px solid $accent;
				position: relative;
				margin-right: 1px;
				height: 100%;
				&:hover{
					border: 2px solid $hover;
					.block-lastnews-big-item-info-heading a{
						color: $hover;
					}
				}
			}
			&-img{
				position: relative;
				z-index: 6;
				width: 100%;
				height: 100%;
				&::before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background: rgba(13,49,11,0.52);
					z-index: 5;
					&:hover{
						background: rgba(238,112,113,0.62) !important;
					}
				}
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			&-info{
				position: absolute;
				z-index: 5;
				bottom: 0;
				left: 0;
				color: #ffffff;
				padding: 15px;
				width: 93%;
				background: rgba($bg-black,0.40);
				&-heading{
					display: flex;
					justify-content: center;
					width: 100%;
					color: #ffffff;
					a{
						text-decoration: none;
						color: #ffffff;
					}
					h2{
						font-size: 16px;
					}
				}
				&-nav{
					@include row-flex;
					justify-content: space-between;
					padding: 15px 15px 0 15px;
					font-size: 12px;
					&-category{
						a{
							color: #ffffff;
							text-decoration: none;
							&:hover{
								color: $hover;
							}
						}
					}
				}
			}
			&-subrow{
				@include size(4.1);
				@include size-lg(6);
				@include size-md(8);
				@include size-sm(12);
				max-height: 100%;
				.subbig{
					display: block;
					min-width: 270px;
					max-height: 48%;
					margin-bottom: 10px;
					@include lg-block{
						margin: 10px 0 0px 0;
					}
				}
			}
		}
		&-small-item{
			@include row-flex;
			// flex-wrap: nowrap;
			@include lg-block{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 5px 0;
			}
			.small{
				@include col;
				@include size(4);
				@include size-lg(6);
				@include size-md(8);
				@include size-sm(12);
				margin-top: 15px;
				margin-right: 0;
				@include lg-block{
					margin: 5px 0;
				}
			}
		}
	}
	.block-1{
		@include wrapper;
		&-wrap{
			@include row-flex;
			padding: 15px 15px;
		}
		&-news-tabs{
			@include col;
			@include size(6);
			@include size-lg(12);
			&-item{
				&-heading{
					display: block;
					justify-content: space-between;
					margin-bottom: 15px;
					h2{
						padding: 10px 20px 10px 20px;
						background: $hover;
						color: #ffffff;
						font-size: 16px;
						text-align: center;
					}
					&-nav{
						display: flex;
						align-items: center;
						border-bottom: 1px solid $hover;
						ul{
							@include row-flex;
							padding: 10px 10px;
							li{
								@include col;
								list-style-type: none;
								margin-right: 5px;
								margin-top: 5px;
								a{
									text-decoration: none;
									color: $accent;
									&:hover{
										color: $hover;
									}
								}
							}
						}
					}
				}
				&-content{
					@include row-flex;
					justify-content: space-around;
					&-news-last{
						@include col;
						@include size(6);
						@include size-sm(12);
						&-img{
							width: 100%;
							img{
								width: 100%;
							}
						}
						&-content{
							padding: 15px;
							&-cat{
								@include row-flex;
								justify-content: space-between;
								align-items: center;
								padding: 15px;
								p, span{
									@include col;
									color: $bg-black;
									font-size: 12px;
									a{
										text-decoration: none;
										color: $bg-black;
										&:hover{
											color: $hover;
										}
									}
								}
							}
							p{
								color: $bg-black;
								margin: 0;
								font-size: 14px;
							}
						}
					}
					&-news-list{
						@include col;
						@include size(6);
						@include size-sm(12);
						&-items{
							border-bottom: 1px solid $hover;
							margin-bottom: 15px;
							h3{
								font-size: 16px;
							}
							&-cat{
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding-left: 15px;
								padding-right: 15px;
								p, span{
									margin: 0;
									padding-top: 10px;
									padding-bottom: 10px;
									font-size: 12px;
									a{
										color: $bg-black;
										&:hover{
											color: $hover;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.block-2{
		@include wrapper;
		&-wrap{
			padding: 15px 15px;
			@include sm-block{
				padding: 0;
			}
		}
		&-heading{
			display: block;
			background: $hover;
			padding: 10px;
			h2{
				font-size: 16px;
				color: #ffffff;
				text-align: center;
			}
		}
		&-row{
			@include row-flex;
			padding-right: 15px;
			padding-left: 15px;
			margin: 0;
			justify-content: space-evenly;
			@include sm-block{
				padding: 0;
			}
			&-item{
				@include size(6);
				display: flex;
				margin-top: 15px;
				min-width: 530px;
				@include sm-block{
					min-width: 100%;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
				&-img{
					max-width: 250px;
					@include sm-block{
						max-width: 100%;
					}
					img{
						width: 100%;
					}
				}
				&-content{
					max-width: 400px;
					padding-right: 10px;
					padding-left: 10px;
					h3{
						font-size: 16px;
					}
					&-cat{
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;
						p, span, a{
							font-size: 12px;
							padding: 5px 15px 5px 15px;
							margin: 0;
							color: $bg-black;
							a:hover{
								color: $hover;
							}
						}
					}
					p{
						font-size: 14px;
						color: $bg-black;
						margin: 0;
					}
				}
			}
		}
	}
	.block-3{
		background: $bg-black;
		&-wrap{
			@include wrapper;
		}
		&-row{
			@include row-flex;
			justify-content: center;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		&-item{
			@include size(4);
			@include size-lg(6);
			@include size-md(8);
			@include size-sm(12);
			min-width: 270px;
			&-title{
				display: block;
				border-bottom: solid 2px $hover;
				margin-bottom: 15px;
				h2{
					display: table;
					background-color: $hover;
					padding: 10px 15px;
					a{
						color: #ffffff;
					}
				}
			}
			&-img{
				position: relative;
				z-index: 6;
				overflow: hidden;
				&:hover{
					&::before{
						opacity: 0;
						transition: all .5s ease-in-out;
					}
					img{
						transform: scale(1.2);
						transition: all .5s ease-in-out;
					}
					.block-3-item-img-info{
						background: rgba($bg-black,0.60);
					}
					.block-3-item-img-info-heading a{
						color: $hover;
					}
				}
				img{
					display: block;
					width: 100%;
					height: 210px;
				}
				&::before{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background: rgba(13,49,11,0.52);
					z-index: 5;
					&:hover{
						background: rgba(238,112,113,0.62) !important;
					}
				}
				&-info{
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					z-index: 5;
					width: 93%;
					padding: 15px;
					color: #ffffff;
					background: rgba($bg-black,0.40);
					&-cat{
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 10px;
						p, a{
							margin: 0;
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}