<div class="main">
  <section class="block-lastnews">
    <div class="block-lastnews-cont">
      <div class="block-lastnews-wrap">
        <div class="block-lastnews-big-item">
          <div class="block-lastnews-big-item-sub big">
            <div class="block-lastnews-big-item-img">
              <img src="../../img/chetchik.jpg" alt="">
              <div class="block-lastnews-big-item-info">
                <div class="block-lastnews-big-item-info-heading">
                  <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
                </div>
                <div class="block-lastnews-big-item-info-nav">
                  <div class="block-lastnews-big-item-info-nav-category">
                    <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                  </div>
                  <div class="block-lastnews-big-item-info-nav-date">
                    <span>02.03.2019</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-lastnews-big-item-subrow">
          <div class="block-lastnews-big-item-sub subbig">
            <div class="block-lastnews-big-item-img">
              <img src="../../img/chetchik.jpg" alt="">
              <div class="block-lastnews-big-item-info">
                <div class="block-lastnews-big-item-info-heading">
                  <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
                </div>
                <div class="block-lastnews-big-item-info-nav">
                  <div class="block-lastnews-big-item-info-nav-category">
                    <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                  </div>
                  <div class="block-lastnews-big-item-info-nav-date">
                    <span>02.03.2019</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="block-lastnews-big-item-sub subbig">
            <div class="block-lastnews-big-item-img">
              <img src="../../img/chetchik.jpg" alt="">
              <div class="block-lastnews-big-item-info">
                <div class="block-lastnews-big-item-info-heading">
                  <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
                </div>
                <div class="block-lastnews-big-item-info-nav">
                  <div class="block-lastnews-big-item-info-nav-category">
                    <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                  </div>
                  <div class="block-lastnews-big-item-info-nav-date">
                    <span>02.03.2019</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-lastnews-small-item">
        <div class="block-lastnews-big-item-sub small">
          <div class="block-lastnews-big-item-img">
            <img src="../../img/chetchik.jpg" alt="">
            <div class="block-lastnews-big-item-info">
              <div class="block-lastnews-big-item-info-heading">
                <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
              </div>
              <div class="block-lastnews-big-item-info-nav">
                <div class="block-lastnews-big-item-info-nav-category">
                  <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                </div>
                <div class="block-lastnews-big-item-info-nav-date">
                  <span>02.03.2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-lastnews-big-item-sub small">
          <div class="block-lastnews-big-item-img">
            <img src="../../img/chetchik.jpg" alt="">
            <div class="block-lastnews-big-item-info">
              <div class="block-lastnews-big-item-info-heading">
                <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
              </div>
              <div class="block-lastnews-big-item-info-nav">
                <div class="block-lastnews-big-item-info-nav-category">
                  <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                </div>
                <div class="block-lastnews-big-item-info-nav-date">
                  <span>02.03.2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-lastnews-big-item-sub small">
          <div class="block-lastnews-big-item-img">
            <img src="../../img/chetchik.jpg" alt="">
            <div class="block-lastnews-big-item-info">
              <div class="block-lastnews-big-item-info-heading">
                <a href="#"><h2>Как построить дом из кирпича недорого, своими руками</h2></a>
              </div>
              <div class="block-lastnews-big-item-info-nav">
                <div class="block-lastnews-big-item-info-nav-category">
                  <span><a href="#">Загород/стройка</a> > <a href="#">разное</a></span>
                </div>
                <div class="block-lastnews-big-item-info-nav-date">
                  <span>02.03.2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block-1">
    <div class="block-1-wrap">
      <div class="block-1-news-tabs">
        <div class="block-1-news-tabs-item">
          <div class="block-1-news-tabs-item-heading">
            <div class="block-1-news-tabs-item-heading-title">
              <h2>Ремонт квартиры</h2>
            </div>
            <div class="block-1-news-tabs-item-heading-nav">
              <ul>
                <li><a href="#">Пол</a></li>
                <li><a href="#">Потолок</a></li>
                <li><a href="#">Потолок</a></li>
                <li><a href="#">Стены</a></li>
                <li><a href="#">Двери</a></li>
                <li><a href="#">Окна</a></li>
                <li><a href="#">Электрика</a></li>
                <li><a href="#">Сантехника</a></li>
              </ul>
            </div>
          </div>
          <div class="block-1-news-tabs-item-content">
            <div class="block-1-news-tabs-item-content-news-last">
              <div class="block-1-news-tabs-item-content-news-last-img">
                <img src="../../img/linoleum.jpeg" alt="">
              </div>
              <div class="block-1-news-tabs-item-content-news-last-content">
                <a href="#"><h3>Правильный выбор радиаторов отопления для дома</h3></a>
                <div class="block-1-news-tabs-item-content-news-last-content-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
                <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
              </div>
            </div>
            <div class="block-1-news-tabs-item-content-news-list">
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-1-news-tabs">
        <div class="block-1-news-tabs-item">
          <div class="block-1-news-tabs-item-heading">
            <div class="block-1-news-tabs-item-heading-title">
              <h2>Ремонт квартиры</h2>
            </div>
            <div class="block-1-news-tabs-item-heading-nav">
              <ul>
                <li><a href="#">Пол</a></li>
                <li><a href="#">Потолок</a></li>
                <li><a href="#">Потолок</a></li>
                <li><a href="#">Стены</a></li>
                <li><a href="#">Двери</a></li>
                <li><a href="#">Окна</a></li>
                <li><a href="#">Электрика</a></li>
                <li><a href="#">Сантехника</a></li>
              </ul>
            </div>
          </div>
          <div class="block-1-news-tabs-item-content">
            <div class="block-1-news-tabs-item-content-news-last">
              <div class="block-1-news-tabs-item-content-news-last-img">
                <img src="../../img/linoleum.jpeg" alt="">
              </div>
              <div class="block-1-news-tabs-item-content-news-last-content">
                <a href="#"><h3>Правильный выбор радиаторов отопления для дома</h3></a>
                <div class="block-1-news-tabs-item-content-news-last-content-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
                <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
              </div>
            </div>
            <div class="block-1-news-tabs-item-content-news-list">
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
              <div class="block-1-news-tabs-item-content-news-list-items">
                <div class="block-1-news-tabs-item-content-news-list-items-heading">
                  <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
                </div>
                <div class="block-1-news-tabs-item-content-news-list-items-cat">
                  <p><a href="#">Советы по ремонту</a></p>
                  <span>04.04.2019</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-1-menu-right">

      </div>
    </div>
  </section>
  <section class="block-2">
    <div class="block-2-wrap">
      <div class="block-2-heading">
        <h2>Новости</h2>
      </div>
      <div class="block-2-row">
        <div class="block-2-row-item">
          <div class="block-2-row-item-img">
            <img src="../../img/dizayn-int.jpg" alt="">
          </div>
          <div class="block-2-row-item-content">
            <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
            <div class="block-2-row-item-content-cat">
              <p><a href="#">Новости</a></p>
              <span>04.04.2019</span>
            </div>
            <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
          </div>
        </div>
        <div class="block-2-row-item">
          <div class="block-2-row-item-img">
            <img src="../../img/dizayn-int.jpg" alt="">
          </div>
          <div class="block-2-row-item-content">
            <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
            <div class="block-2-row-item-content-cat">
              <p><a href="#">Новости</a></p>
              <span>04.04.2019</span>
            </div>
            <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
          </div>
        </div>
        <div class="block-2-row-item">
          <div class="block-2-row-item-img">
            <img src="../../img/dizayn-int.jpg" alt="">
          </div>
          <div class="block-2-row-item-content">
            <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
            <div class="block-2-row-item-content-cat">
              <p><a href="#">Новости</a></p>
              <span>04.04.2019</span>
            </div>
            <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
          </div>
        </div>
        <div class="block-2-row-item">
          <div class="block-2-row-item-img">
            <img src="../../img/dizayn-int.jpg" alt="">
          </div>
          <div class="block-2-row-item-content">
            <a href="#"><h3>Правильный выбор радиаторов отопления для дома.</h3></a>
            <div class="block-2-row-item-content-cat">
              <p><a href="#">Новости</a></p>
              <span>04.04.2019</span>
            </div>
            <p>Каждый год с приближением зимы всех волнует один вопрос – а тепло ли будет в доме? Об этом необходимо подумать еще во время ремонта в квартире, и максимально подготовить ее к ежегодным холодам.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block-3">
      <div class="block-3-wrap">
          <div class="block-3-row">
              <div class="block-3-item">
                  <div class="block-3-item-title">
                      <h2><a href="#">Интерьер</a></h2>
                  </div>
                <div class="block-3-item-img">
                    <img src="../../img/dom-iz-irpicha.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
                <div class="block-3-item-img">
                    <img src="../../img/dom-iz-irpicha.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="block-3-item">
                  <div class="block-3-item-title">
                      <h2><a href="#">Советы</a></h2>
                  </div>
                <div class="block-3-item-img">
                    <img src="../../img/chetchik.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
                <div class="block-3-item-img">
                    <img src="../../img/chetchik.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="block-3-item">
                  <div class="block-3-item-title">
                      <h2><a href="#">Ланшафт</a></h2>
                  </div>
                <div class="block-3-item-img">
                    <img src="../../img/landshaftnyj-dizajn.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
                <div class="block-3-item-img">
                    <img src="../../img/landshaftnyj-dizajn.jpg" alt="">
                    <div class="block-3-item-img-info">
                        <div class="block-3-item-img-info-heading">
                            <h3><a href="#">Правильный выбор радиаторов отопления для дома.</a></h3>
                        </div>
                        <div class="block-3-item-img-info-cat">
                            <p><a href="#">Советы по ремонту</a></p>
                            <span>04.04.2019</span>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>