header {
  background-color: $accent;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 63px;
  nav{
    @include wrapper;
    width: 100%;
    height: 100%;
  }
  .topnav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    li{
      list-style-type: none;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      z-index: 1;
      &:hover{
        .submenu{
          display: block;
        }
      }
      .submenu{
        background-color: $accent;
        position: absolute;
        top: 60px;
        left: 0;
        width: 200%;
        display: none;
        transition: all ease-in-out .4s;
        li{
          border-bottom: 1px solid #fff;
          padding-top: 10px;
          padding-bottom: 10px;
          a{
            padding: 0 5px;
            margin-left: 10px;
            &:hover{
              border-bottom: none;
              color: $hover;
            }
          }
        }
      }
    }
    a{
      padding: 10px;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
    }
    .icon{
      display: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
}
@include to(768px){
  header{
    nav{
      padding: 0;
    }
    .topnav{
      justify-content: flex-end;
      a{
        display: none;
      }
      .icon{
        display: block;
        font-size: 30px;
        padding-right: 20px;
      }
    }
  }
  header .topnav.responsive{
    width: 100%;
    height: 100vh;
    background-color: $accent;
    z-index: 5;
  }
  .topnav.responsive{
    position: relative;
    top: 60px;
    flex-direction: column;
    justify-content: center;
    li{
      padding-left: 20px;
      display: block;
      &:hover{
        a{
          border: none;
        }
        .submenu{
          a{
            border: none;
          }
          li{
            border: none;
          }
        }
      }
      .submenu{
        position: relative;
        top: 0;
        li{
          padding-right: 20px;
          display: table;
        }
        a:hover{
          color: $hover;
        }
      }
      a{
        display: table;
      }
    }
    .icon {
      position: absolute;
      top: -56px;
      right: 0;
    }
  }
}
.hide{
  display: none !important;
}
.topline{
  padding: 10px 10px;
  &-wrap{
    @include wrapper;
  }
  &-cont{
    @include row-flex;
    justify-content: space-between;
  }
  &-logo{
    @include col;
    @include size(3);
    @include size-md(4);
    @include size-sm(12);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 15px 15px;
    &-img{
      width: 100%;
      text-align: center;
      img{
        width: 100%;
        max-width: 100px;
        height: 100%;
      }
    }
    &-title{
      padding: 5px;
      width: 100%;
      display: flex;
      justify-content: center;
      h2{
        font-size: 14px;
      }
    }
  }
  &-search{
    @include col;
    @include size(6);
    @include size-md(8);
    @include size-sm(12);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &-heading{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      span{
        padding: 10px 10px;
      }
    }
    &-input{
      form{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
          width: 80%;
          padding: 7px;
          border: 1px solid $accent;
          border-radius: 7px;
          position: relative;
          z-index: 3;
          outline-color: $hover;
          &:hover, :active, :focus{
            border: 1px solid $hover;
            outline-color: $hover !important;
          }
        }
        a{
          position: absolute;
          z-index: 4;
          top: 7px;
          right: 14%;
          img{
            width: 20px;
          }
        }
      }
    }
  }
  &-social{
    @include col;
    @include size(3);
    @include size-md(12);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include sm-block{
      padding: 15px;
    }
    &-heading{
      width: 100%;
      padding-bottom: 10px;
      text-align: center;
      h3{
        font-size: 18px;
        strong{
          font-size: 20px;
          text-transform: uppercase;
          display: block;
          color: red;
        }
      }
    }
    &-ul{
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      li{
        list-style: none;
        margin-right: 5px;
        max-width: 40px;
        @include md-block{
          max-width: 30px;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}