<header>
  <nav>
    <ul class="topnav" id="topnav">
      <li><a href="#">Новости</a>
      <ul class="submenu">
        <li><a href="#">Дом / Дача</a></li>
        <li><a href="#">Сад / Огород</a></li>
        <li><a href="#">ЖКХ</a></li>
        <li><a href="#">Общество</a></li>
        <li><a href="#">Экономика</a></li>
      </ul>
      </li>
      <li><a href="#">Ремонт квартиры</a></li>
      <li><a href="#">Загород/Стройка</a></li>
      <li><a href="#">Интерьер</a></li>
      <li><a href="#">Ланшафт</a></li>
      <li><a href="#">Советы</a></li>
      <a href="#" class="icon" id="btnopen">&#9776;</a>
      <a href="#" class="icon hide" id="btnclose">&#10006;</a>
    </div>
  </nav>
</header>
<div class="topline">
  <div class="topline-wrap">
    <div class="topline-cont">
      <div class="topline-logo">
        <div class="topline-logo-img">
          <img src="../../img/logo.png" alt="">
        </div>
        <div class="topline-logo-title">
          <h2>Информациоонно - <br> новостной портал!</h2>
        </div>
      </div>
      <div class="topline-search">
        <div class="topline-search-heading">
          <h1>Ремонт дома своими руками</h1>
          <span>Строительство, ремонт, дизайн, советы и многое другое</span>
        </div>
        <div class="topline-search-input">
          <form action="#">
            <input type="search" name="search" id="search">
            <a href="#"><img src="../../img/search.svg" alt=""></a>
          </form>
        </div>
      </div>
      <div class="topline-social">
        <div class="topline-social-heading">
          <h3><strong>Подпишись</strong>на нас в соц. сетях</h3>
        </div>
        <ul class="topline-social-ul">
          <li><a href="#"><img src="../../img/vk.svg" alt=""></a></li>
          <li><a href="#"><img src="../../img/ok.svg" alt=""></a></li>
          <li><a href="#"><img src="../../img/in.svg" alt=""></a></li>
          <li><a href="#"><img src="../../img/fb.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
