body {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

.container {
	@include wrapper;
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
} 

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}
a{
	color: $accent;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		color: $hover;
	}
}